/* *{
    padding: 0px;
    margin: 0px;
} */

/* common styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-color {
    color: #FD6E0A;
}

.cmn-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 26px;
}

.cmn-btn:hover {
    background: #9f7150;
    cursor: pointer;
}


/* nav styles */
nav {
    display: flex;
    align-content: center;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #474747;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-size: 800;
}

/*  header styles */
.header {
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.pro-pic{
    width: 500px;
}